#top{
    margin: auto;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    background-color: blue;
    border: solid black 10px;
    padding: 20px;
}
#middle{
    margin:auto;
    margin-left: 310px;
    width: 200px;
    height: 200px;
    background-color: red;
    border: solid black 20px;
}
#bottom{
    margin: auto;
    margin-left: 550px;
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: solid black 10px;
}
#red{
    margin:auto;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    background-color: red;
}
#blue{
    margin: auto;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    background-color: blue;
}
#yellow{
    margin: auto;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    background-color: yellow;
}
#yellow2{
    margin: auto;
    margin-left: 400px;
    width: 200px;
    height: 200px;
    background-color: yellow;
}
#blue2{
    margin: auto;
    margin-left: 600px;
    width: 200px;
    height: 200px;
    background-color: blue;
}
#red2{
    margin:auto;
    margin-left: 800px;
    width: 200px;
    height: 200px;
    background-color: red; 
}
#general{
    margin: auto;
    margin-left: 50px;
    width: 600px;
    height: 200px;
}

#red1{
    float:left;
    width: 200px;
    height: 200px;
    background-color: red;
}
#blue1{
    float:left;
    width: 200px;
    height: 200px;
    background-color: blue;
}
#yellow1{
    float: left;
    width: 200px;
    height: 200px;
    background-color: yellow;
}
